@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme */
  --color-background: 30 10% 15%;
  --color-primary-text: 30 20% 70%;
  --color-secondary-text: 30 20% 40%;
  --color-accent: 35 80% 50%;
  --color-highlight: 16 80% 53%;
}

[data-theme='light'] {
  --color-background: 40 100% 97%;
  --color-primary-text: 0 0% 20%;
  --color-secondary-text: 0 0% 40%;
  --color-accent: 35 80% 50%;
  --color-highlight: 16 80% 53%;
}



